@import "./variables";

.canvas {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

canvas {
    border: 1px solid black;
    background-color: white;
}
